.App-header {
  background-color: #282c34;
  min-height: 2vh;
  display: flex;

  font-size: calc(10px + 2vmin);
  color: white;
}
.App-logo {
  height: 8vmin;
  pointer-events: none;
}
.App-logo-wrapper {
  flex: 0 0 60px;
  margin-top: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
